@using Inventory_Management_System.Models.Class
@model List<Product>
<br />
@{
    ViewBag.Title = "OutStok";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css">

<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>
            <th>ÜRÜN ADI</th>
            <th>MARKASI</th>
            <th>SERİ NUMARASI</th>
            <th>KATEGORİ</th>
            <th>FATURA NUMARASI</th>
            <th>FİRMA ADI</th>
            <th>FATURA TARİH</th>
            <th>STOK</th>
            <th>DURUM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prdc in Model)
        {
            <tr>
                <td>@prdc.ProductName</td>
                <td>@prdc.ProductBrand</td>
                <td>@prdc.SerialNumber</td>
                <td>@prdc.Category.CategoryName</td>
                <td>@prdc.BillSerialNumber</td>
                <td>@prdc.CompanyName</td>
                <td>@prdc.BillDateTime</td>
                <td>@prdc.Stok</td>
                <td>@prdc.IsActive</td>
            </tr>
        }
    </tbody>
</table>

<button onclick="window.history.back()" class="back-button">Geriye Dön</button>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    $('#tbl1').dataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });
</script>