@model Inventory_Management_System.Models.Class.Employees
@{
    ViewBag.Title = "NewEmployess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<form class="form-group" method="post">

    @Html.LabelFor(x => x.EmployeeName)
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", style = "width: 500px;", required = "required", maxlength = "50", oninput = "validateInput(this)" })
    @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @style = "color:blue" })

    <br />

    @Html.LabelFor(x => x.EmployeeSurname)
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control", required = "required", maxlength = "50", oninput = "validateInput(this)", style = "width: 500px;" })
    <br />

    @Html.LabelFor(x => x.EmployessTask)
    @Html.TextBoxFor(x => x.EmployessTask, new { @class = "form-control", required = "required", maxlength = "50", oninput = "validateInput(this)", style = "width: 500px;" })

    <br />
    @Html.LabelFor(x => x.EmployeeMail)
    @Html.TextBoxFor(x => x.EmployeeMail, new { @class = "form-control", required = "required", maxlength = "50", style = "width: 500px;" })
    <br />
    @Html.LabelFor(x => x.Department)
    @Html.DropDownListFor(m => m.Departmentid, (List<SelectListItem>)ViewBag.prdc,
    new { @class = "form-control", style = "width: 500px;" })

    <br />
    <button class="btn btn-primary"> Kaydet</button>
</form>
<br />
<button onclick="window.history.back()" class="back-button">Geriye Dön</button>


<script>
    function validateInput(input) {
        input.value = input.value.replace(/[^a-zA-ZğüşıöçĞÜŞİÖÇ\s.,;]/g, '');
    }
</script>
